
.bigbox {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 10px;
    width: 50vw;
    max-width: 350px;
    margin: 30px auto;
    background-color:pink;
    transition: 0.3s;
}
.bigbox:hover{
    
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.5);
}
.head{
    width: 250px;
     margin:auto;
}
.column{
    margin-left: 20px;
    margin-right: 20px;
    min-width: 50px;
    display: inline-block;
    vertical-align: top;
}
.tip{
    width:400px;
    margin:auto;
}
.success {
    font-family:FangSong;
    font-size:30px;
}
